# macOS
.DS_Store

# IDEA
.idea/
*.iml

# Java
target/
logs/
*.log

# Node
node_modules/
dist/

# Env
.env
.env.local
# frontend
life-os-web/node_modules/
life-os-web/.nuxt/
life-os-web/.output/
life-os-web/dist/

# build output
out/
target/
